.wrapper {
  font-weight: 600;
  display: flex;
  gap: 15px;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  appearance: none;
  margin: 0;
  background-color: var(--checkbox-bg-color);
  width: 32px;
  aspect-ratio: 1/1;
  border-radius: 12px;
  display: grid;
  place-content: center;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    height: 17px;
    width: 22px;
    mask: url("/checked.svg") no-repeat 50% 50%;
    mask-size: cover;
    transform: scale(0);
    background-color: var(--accent-color);
  }

  &:checked::before {
    transform: scale(1);
  }
}