.select {
  position: relative;
}

.select select {
  background-color: var(--button-color);
  border: none;
  outline: none;
  padding: 10px 30px 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  appearance: none;
}

.select::before {
  content: '';
  position: absolute;
  display: block;
  height: 18px;
  width: 11px;
  mask: url("/arrow.svg") no-repeat 50% 50%;
  background-color: var(--font-color);
  mask-size: cover;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(90deg) scale(0.7);
}

.select select, .option {
  font-family: var(--font-monrope), sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color);
}