.profileWrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.profileAvatar {
  border-radius: 50%;
}

.profileInfo {

}

.profileName {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.profileEmail {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-second-color);
}