.tableHeader {
  display: grid;
  width: 100%;
  background-color: var(--card-color);
  padding: 22px 30px;
  border-radius: 60px;
  justify-items: center;
  gap: 10px;
}

.columnTitle {
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: 600;
}

.tableRow {
  display: grid;
  padding: 5px 30px;
  justify-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 400;
}

.nothingData {
  text-align: center;
  padding: 20px 0;
}