.balanceWrapper {
  position: relative;
  // 32px = gap (16px)
  flex-basis: calc((100% - 32px) / 3);
}

.totalPnlWrapper {
  flex-basis: calc((100% - 32px) / 3);
}

.textWrapper {
  position: absolute;
  background-color: var(--card-color);
  box-shadow: 0px 0px 30px var(--card-color);
  border-radius: 20px;
}

.pnlPercentWrapper {
  flex-basis: calc((100% - 32px) / 3);
  max-height: 265px;
}

.limitWrapper {
  justify-content: center;
}