:root {
    --bg-color: #121B2C;
    --accent-color: #BAFF66;
    --positive-bg-color: #BAFF6619;
    --losing-color: #FF3737;
    --losing-bg-color: #FF373719;
    --button-color: #262E3E;
    --card-color: #182132;

    --checkbox-bg-color: #263147;

    --font-color: #ECECEC;
    --font-second-color: #A3A6AD;
    --font-black-color: #202223;

    --sidebar-width: 430px;
}