:root {
    --bg-color: #121B2C;
    --accent-color: #BAFF66;
    --button-color: #262E3E;
    --card-color: #182132;
    --font-color: #ECECEC;
    --font-second-color: #A3A6AD;
    --font-black-color: #202223;
    --sidebar-width: 430px;
}