.statisticsWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;

  div {
    justify-content: space-between;
  }
}

.textCheckbox {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-second-color);
  max-width: 243px;
}