.title {
  font-family: var(--font-roboto);
  font-size: 20px;
  font-weight: 600;
  color: var(--font-second-color);
  margin-bottom: 10px;
}

.wrapper {
  > div {
    flex-basis: calc((100% - 32px) / 4);
  }
}