.input {
  font-size: 18px;
  font-family: var(--font-manrope), sans-serif;
  color: var(--font-second-color);
  padding: 13px 0 14px 30px;
  border: none;
  outline: none;
  border-radius: 50px;
}

.grey {
  background-color: var(--card-color);
}

.dark {
  background-color: var(--bg-color);
}