.title {
  font-size: 16px;
  color: var(--font-second-color);
}

.value {
  font-family: var(--font-roboto), sans-serif;
  color: var(--accent-color);

  span {
    color: var(--font-color);
  }
}

.small {
  .value {
    font-size: 20px;
    font-weight: 600;
  }
}

.medium {
  .value {
    font-size: 22px;
    font-weight: 500;
  }

  span {
    font-size: 26px;
  }
}

.large {
  .value {
    font-size: 26px;
    font-weight: 500;

    span {
      font-size: 34px;
    }
  }
}

.valueWrapper {
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: space-between;
}

.percent {
  font-size: 20px;
  font-family: var(--font-roboto), sans-serif;
  font-weight: 600;
  color: var(--accent-color);

  span {
    color: var(--font-color);
    padding: 0 5px;
  }
}

.minus {
  color: var(--losing-color);
}