.cardWrapper {
  border-radius: 50px;
}

.medium {
  padding: 50px 30px;
}

.small {
  padding: 30px 30px;
}

.negative {
  background-color: var(--losing-bg-color);
  border: 1px solid var(--losing-color);
}

.positive {
  background-color: var(--positive-bg-color);
  border: 1px solid var(--accent-color);
}

.neutral {
  background-color: var(--card-color);
}